:root {
  --ed-color-brand-mustard-100: #f5f1db;
  --ed-color-brand-mustard-200: #eae1b3;
  --ed-color-brand-mustard-300: #dfd18b;
  --ed-color-brand-mustard-400: #d4c163;
  --ed-color-brand-mustard-500: #c9b039;
  --ed-color-brand-mustard-600: #a4902d;
  --ed-color-brand-mustard-700: #7c6d22;
  --ed-color-brand-mustard-800: #544a17;
  --ed-color-brand-mustard-900: #2c270c;
  --ed-color-brand-brown-100: #f5e6d3;
  --ed-color-brand-brown-200: #e8d4b8;
  --ed-color-brand-brown-300: #d4b896;
  --ed-color-brand-brown-400: #b89468;
  --ed-color-brand-brown-500: #8b6841;
  --ed-color-brand-brown-600: #6b4f2e;
  --ed-color-brand-brown-700: #4a3620;
  --ed-color-brand-brown-800: #2d2013;
  --ed-color-brand-brown-900: #110000;
  --ed-color-brand-cream-100: #f6f5de;
  --ed-color-brand-cream-200: #efeed4;
  --ed-color-brand-cream-300: #dedcb9;
  --ed-color-brand-cream-400: #ddd79a;
  --ed-color-brand-cream-500: #cfc578;
  --ed-color-brand-cream-600: #a29e5e;
  --ed-color-brand-cream-700: #8e7d58;
  --ed-color-brand-cream-800: #5c5329;
  --ed-color-brand-cream-900: #2e2a15;
  --ed-color-brand-orange-100: #ffc175;
  --ed-color-brand-orange-200: #ffb357;
  --ed-color-brand-orange-300: #ffa438;
  --ed-color-brand-orange-400: #ff961a;
  --ed-color-brand-orange-500: #fa8900;
  --ed-color-brand-orange-600: #db7900;
  --ed-color-brand-orange-700: #be6700;
  --ed-color-brand-orange-800: #9e5600;
  --ed-color-brand-orange-900: #804600;
  --ed-color-brand-blue-light-100: #e2f3fe;
  --ed-color-brand-blue-light-200: #c9e8fd;
  --ed-color-brand-blue-light-300: #b1defc;
  --ed-color-brand-blue-light-400: #98d4fb;
  --ed-color-brand-blue-light-500: #80cafa;
  --ed-color-brand-blue-light-600: #67bff9;
  --ed-color-brand-blue-light-700: #4fb4f8;
  --ed-color-brand-blue-light-800: #36aaf7;
  --ed-color-brand-blue-light-900: #1e9ff6;
  --ed-color-brand-blue-dark-100: #e6f0ff;
  --ed-color-brand-blue-dark-200: #c2deff;
  --ed-color-brand-blue-dark-300: #8fc3ff;
  --ed-color-brand-blue-dark-400: #5a9ff5;
  --ed-color-brand-blue-dark-500: #2d6fd9;
  --ed-color-brand-blue-dark-600: #1545a8;
  --ed-color-brand-blue-dark-700: #010a5b;
  --ed-color-brand-blue-dark-800: #0b0049;
  --ed-color-brand-blue-dark-900: #00052a;
  --ed-color-diagram-purple-500: #8a4cef;
  --ed-color-diagram-orange-500: #f1992a;
  --ed-color-diagram-gold-500: #ecba40;
  --ed-color-diagram-green-500: #3bc23b;
  --ed-color-neutral-100: #f1f1f2;
  --ed-color-neutral-200: #d0d2d5;
  --ed-color-neutral-300: #b3b6bb;
  --ed-color-neutral-400: #9699a0;
  --ed-color-neutral-500: #7a7e87;
  --ed-color-neutral-600: #61646b;
  --ed-color-neutral-700: #484a4f;
  --ed-color-neutral-800: #313337;
  --ed-color-neutral-900: #1c1d1f;
  --ed-color-neutral-white: #ffffff;
  --ed-color-neutral-black: #000000;
  --ed-color-utility-green-100: #dcf3ee;
  --ed-color-utility-green-200: #9fdfcf;
  --ed-color-utility-green-300: #5dc9af;
  --ed-color-utility-green-400: #11ad86;
  --ed-color-utility-green-500: #0e9070;
  --ed-color-utility-green-600: #0b7058;
  --ed-color-utility-green-700: #085442;
  --ed-color-utility-green-800: #063a2e;
  --ed-color-utility-green-900: #03211a;
  --ed-color-utility-red-100: #fceaef;
  --ed-color-utility-red-200: #f8c5d1;
  --ed-color-utility-red-300: #efa2b2;
  --ed-color-utility-red-400: #dd7c88;
  --ed-color-utility-red-500: #cd5a61;
  --ed-color-utility-red-600: #b82f30;
  --ed-color-utility-red-700: #8d2121;
  --ed-color-utility-red-800: #631717;
  --ed-color-utility-red-900: #390e0e;
  --ed-color-utility-yellow-100: #f9efbb;
  --ed-color-utility-yellow-200: #efd242;
  --ed-color-utility-yellow-300: #dbb305;
  --ed-color-utility-yellow-400: #be9304;
  --ed-color-utility-yellow-500: #a57702;
  --ed-color-utility-yellow-600: #8a5801;
  --ed-color-utility-yellow-700: #6d3f00;
  --ed-color-utility-yellow-800: #4b2c00;
  --ed-color-utility-yellow-900: #2c1900;
  --ed-color-utility-blue-100: #eceefc;
  --ed-color-utility-blue-200: #ccd1f6;
  --ed-color-utility-blue-300: #abb3f0;
  --ed-color-utility-blue-400: #8792ea;
  --ed-color-utility-blue-500: #6775e4;
  --ed-color-utility-blue-600: #4555d3;
  --ed-color-utility-blue-700: #34409e;
  --ed-color-utility-blue-800: #242c6e;
  --ed-color-utility-blue-900: #15193f;
  --ed-color-transparent-25: #00000040;
  --ed-color-transparent-90: #000000e5;
  --ed-theme-color-background-diagram-design: var(--ed-color-diagram-purple-500);
  --ed-theme-color-background-diagram-repo: var(--ed-color-diagram-orange-500);
  --ed-theme-color-background-diagram-package: var(--ed-color-diagram-gold-500);
  --ed-theme-color-background-diagram-product: var(--ed-color-diagram-green-500);
  --ed-theme-color-background-default: var(--ed-color-brand-cream-100);
  --ed-theme-color-background-default-hover: var(--ed-color-brand-cream-200);
  --ed-theme-color-background-subtle: #eeeccd;
  --ed-theme-color-background-subtle-hover: var(--ed-color-brand-cream-300);
  --ed-theme-color-background-knockout: var(--ed-color-brand-brown-900);
  --ed-theme-color-background-brand: var(--ed-color-brand-orange-700);
  --ed-theme-color-background-brand-hover: var(--ed-color-brand-orange-800);
  --ed-theme-color-background-brand-disabled: var(--ed-color-brand-orange-100);
  --ed-theme-color-background-brand-knockout: var(--ed-color-brand-orange-700);
  --ed-theme-color-background-brand-knockout-hover: var(--ed-color-brand-orange-800);
  --ed-theme-color-background-accent-1: var(--ed-color-brand-orange-700);
  --ed-theme-color-background-accent-2: var(--ed-color-brand-blue-light-500);
  --ed-theme-color-background-accent-3: var(--ed-color-brand-blue-dark-800);
  --ed-theme-color-background-accent-4: var(--ed-color-brand-mustard-500);
  --ed-theme-color-background-accent-5: var(--ed-color-brand-brown-900);
  --ed-theme-color-background-accent-6: var(--ed-color-brand-cream-200);
  --ed-theme-color-background-accent-7: var(--ed-color-brand-cream-300);
  --ed-theme-color-background-accent-8: var(--ed-color-brand-cream-600);
  --ed-theme-color-background-utility-error: var(--ed-color-utility-red-100);
  --ed-theme-color-background-utility-error-knockout: var(--ed-color-utility-red-600);
  --ed-theme-color-background-utility-warning: var(--ed-color-utility-yellow-100);
  --ed-theme-color-background-utility-warning-knockout: var(--ed-color-utility-yellow-600);
  --ed-theme-color-background-utility-success: var(--ed-color-utility-green-100);
  --ed-theme-color-background-utility-success-knockout: var(--ed-color-utility-green-600);
  --ed-theme-color-background-utility-info: var(--ed-color-utility-blue-100);
  --ed-theme-color-background-utility-info-knockout: var(--ed-color-utility-blue-600);
  --ed-theme-color-background-dataviz-primary: var(--ed-color-neutral-600);
  --ed-theme-color-background-dataviz-primary-subtle: var(--ed-color-transparent-25);
  --ed-theme-color-background-dataviz-secondary: var(--ed-color-neutral-200);
  --ed-theme-color-background-dataviz-tertiary: var(--ed-color-neutral-400);
  --ed-theme-color-background-disabled: var(--ed-color-neutral-200);
  --ed-theme-color-background-transparent: var(--ed-color-transparent-25);
  --ed-theme-color-background-transparent-strong: var(--ed-color-transparent-90);
  --ed-theme-color-background-viz-1: var(--ed-theme-color-background-accent-1);
  --ed-theme-color-background-viz-2: var(--ed-theme-color-background-accent-2);
  --ed-theme-color-background-viz-3: var(--ed-theme-color-background-accent-3);
  --ed-theme-color-background-viz-4: var(--ed-theme-color-background-accent-4);
  --ed-theme-color-background-viz-5: var(--ed-theme-color-background-accent-5);
  --ed-theme-color-background-viz-6: var(--ed-theme-color-background-accent-6);
  --ed-theme-color-background-viz-7: var(--ed-theme-color-background-accent-7);
  --ed-theme-color-background-viz-8: var(--ed-theme-color-background-accent-8);
  --ed-theme-color-content-on-diagram-design: #ffffff;
  --ed-theme-color-content-on-diagram-repo: #110000;
  --ed-theme-color-content-on-diagram-package: #110000;
  --ed-theme-color-content-on-diagram-product: #ffffff;
  --ed-theme-color-content-default: var(--ed-color-brand-brown-900);
  --ed-theme-color-content-default-hover: var(--ed-color-brand-brown-700);
  --ed-theme-color-content-subtle: var(--ed-color-brand-orange-800);
  --ed-theme-color-content-knockout: var(--ed-color-brand-cream-100);
  --ed-theme-color-content-brand: var(--ed-color-brand-orange-700);
  --ed-theme-color-content-brand-hover: var(--ed-color-brand-brown-800);
  --ed-theme-color-content-brand-knockout: var(--ed-color-brand-cream-100);
  --ed-theme-color-content-accent-1: var(--ed-color-brand-orange-700);
  --ed-theme-color-content-accent-2: var(--ed-color-brand-blue-light-500);
  --ed-theme-color-content-accent-3: var(--ed-color-brand-blue-dark-800);
  --ed-theme-color-content-accent-4: var(--ed-color-brand-mustard-500);
  --ed-theme-color-content-accent-5: var(--ed-color-brand-brown-900);
  --ed-theme-color-content-accent-6: var(--ed-color-brand-cream-200);
  --ed-theme-color-content-accent-7: var(--ed-color-brand-cream-300);
  --ed-theme-color-content-accent-8: var(--ed-color-brand-cream-600);
  --ed-theme-color-content-on-accent-1: var(--ed-color-brand-cream-100);
  --ed-theme-color-content-on-accent-2: var(--ed-color-brand-brown-900);
  --ed-theme-color-content-on-accent-3: var(--ed-color-brand-cream-100);
  --ed-theme-color-content-on-accent-4: var(--ed-color-brand-brown-900);
  --ed-theme-color-content-on-accent-5: var(--ed-color-brand-cream-100);
  --ed-theme-color-content-on-accent-6: var(--ed-color-brand-brown-900);
  --ed-theme-color-content-on-accent-7: var(--ed-color-brand-brown-900);
  --ed-theme-color-content-on-accent-8: var(--ed-color-brand-brown-900);
  --ed-theme-color-content-disabled: var(--ed-color-neutral-600);
  --ed-theme-color-content-utility-error: var(--ed-color-utility-red-600);
  --ed-theme-color-content-utility-warning: var(--ed-color-utility-yellow-600);
  --ed-theme-color-content-utility-success: var(--ed-color-utility-green-600);
  --ed-theme-color-content-utility-info: var(--ed-color-utility-blue-600);
  --ed-theme-color-content-viz-label: var(--ed-theme-color-content-default);
  --ed-theme-color-border-default: var(--ed-color-brand-brown-700);
  --ed-theme-color-border-default-hover: var(--ed-color-neutral-500);
  --ed-theme-color-border-subtle: var(--ed-color-brand-cream-600);
  --ed-theme-color-border-strong: var(--ed-color-neutral-900);
  --ed-theme-color-border-knockout: var(--ed-color-neutral-400);
  --ed-theme-color-border-brand: var(--ed-color-brand-orange-700);
  --ed-theme-color-border-brand-knockout: var(--ed-color-brand-orange-700);
  --ed-theme-color-border-accent-1: var(--ed-color-brand-orange-700);
  --ed-theme-color-border-accent-2: var(--ed-color-brand-blue-light-500);
  --ed-theme-color-border-accent-3: var(--ed-color-brand-blue-dark-800);
  --ed-theme-color-border-accent-4: var(--ed-color-brand-mustard-500);
  --ed-theme-color-border-accent-5: var(--ed-color-brand-brown-900);
  --ed-theme-color-border-accent-6: var(--ed-color-brand-cream-200);
  --ed-theme-color-border-accent-7: var(--ed-color-brand-cream-300);
  --ed-theme-color-border-accent-8: var(--ed-color-brand-cream-600);
  --ed-theme-color-border-on-accent-1: var(--ed-color-brand-cream-300);
  --ed-theme-color-border-on-accent-2: var(--ed-color-brand-brown-700);
  --ed-theme-color-border-on-accent-3: var(--ed-color-brand-cream-300);
  --ed-theme-color-border-on-accent-4: var(--ed-color-brand-brown-700);
  --ed-theme-color-border-on-accent-5: var(--ed-color-brand-cream-300);
  --ed-theme-color-border-on-accent-6: var(--ed-color-brand-brown-700);
  --ed-theme-color-border-on-accent-7: var(--ed-color-brand-brown-700);
  --ed-theme-color-border-on-accent-8: var(--ed-color-brand-brown-900);
  --ed-theme-color-border-utility-error: var(--ed-color-utility-red-700);
  --ed-theme-color-border-utility-warning: var(--ed-color-utility-yellow-700);
  --ed-theme-color-border-utility-success: var(--ed-color-utility-green-700);
  --ed-theme-color-border-utility-info: var(--ed-color-utility-blue-700);
  --ed-theme-color-border-disabled: var(--ed-color-neutral-200);
  --ed-theme-color-border-viz-axis: var(--ed-theme-color-border-default);
  --ed-theme-color-border-viz-gridline: var(--ed-theme-color-border-subtle);
  --ed-theme-color-border-viz-tick: var(--ed-theme-color-border-default);
  --ed-sidebar-width: 18rem;
  --ed-spacing-0: 0rem;
  --ed-spacing-4: 0.25rem;
  --ed-spacing-8: 0.5rem;
  --ed-spacing-12: 0.75rem;
  --ed-spacing-16: 1rem;
  --ed-spacing-24: 1.5rem;
  --ed-spacing-32: 2rem;
  --ed-spacing-40: 2.5rem;
  --ed-spacing-48: 3rem;
  --ed-spacing-64: 4rem;
  --ed-spacing-80: 5rem;
  --ed-spacing-96: 6rem;
  --ed-spacing-128: 8rem;
  --ed-theme-spacing-none: var(--ed-spacing-0);
  --ed-theme-spacing-sm: var(--ed-spacing-8);
  --ed-theme-spacing-md: var(--ed-spacing-16);
  --ed-theme-spacing-lg: var(--ed-spacing-24);
  --ed-theme-spacing-xl: var(--ed-spacing-32);
  --ed-theme-spacing-xxl: var(--ed-spacing-64);
  --ed-z-index-0: 0;
  --ed-z-index-100: 100;
  --ed-z-index-200: 200;
  --ed-z-index-300: 300;
  --ed-z-index-400: 400;
  --ed-z-index-500: 500;
  --ed-z-index-top: 99999;
  --ed-z-index-bottom: -100;
  --ed-theme-typography-viz-label-font-family: var(--ed-theme-typography-display-default-font-family);
  --ed-theme-typography-viz-label-font-weight: var(--ed-theme-typography-display-default-font-weight);
  --ed-theme-typography-viz-label-font-size: clamp(10cqi, calc(130cqi / var(--_label-length, 6)), 24cqi);
  --ed-theme-typography-viz-label-line-height: 1.1;
  --ed-theme-typography-viz-label-letter-spacing: 0.02em;
  --ed-theme-typography-viz-label-text-transform: lowercase;
  --ed-typography-font-family-league-gothic: League Gothic;
  --ed-typography-font-family-montserrat: Montserrat;
  --ed-typography-font-weight-400: 400;
  --ed-typography-font-weight-700: 700;
  --ed-typography-font-size-12: 0.75rem;
  --ed-typography-font-size-14: 0.875rem;
  --ed-typography-font-size-16: 1rem;
  --ed-typography-font-size-18: 1.125rem;
  --ed-typography-font-size-20: 1.25rem;
  --ed-typography-font-size-24: 1.5rem;
  --ed-typography-font-size-28: 1.75rem;
  --ed-typography-font-size-32: 2rem;
  --ed-typography-font-size-40: 2.5rem;
  --ed-typography-font-size-48: 3rem;
  --ed-typography-font-size-56: 3.5rem;
  --ed-typography-font-size-64: 4rem;
  --ed-typography-font-size-72: 4.5rem;
  --ed-typography-font-size-100: 6.25rem;
  --ed-typography-font-size-176: 11rem;
  --ed-typography-line-height-16: 1rem;
  --ed-typography-line-height-20: 1.25rem;
  --ed-typography-line-height-24: 1.5rem;
  --ed-typography-line-height-28: 1.75rem;
  --ed-typography-line-height-32: 2rem;
  --ed-typography-line-height-36: 2.25rem;
  --ed-typography-line-height-40: 2.5rem;
  --ed-typography-line-height-48: 3rem;
  --ed-typography-line-height-56: 3.5rem;
  --ed-typography-line-height-64: 4rem;
  --ed-typography-line-height-72: 4.5rem;
  --ed-typography-line-height-80: 5rem;
  --ed-typography-line-height-110: 6.875rem;
  --ed-typography-line-height-202: 12.625rem;
  --ed-typography-letter-spacing-0: 0rem;
  --ed-typography-letter-spacing-2: 0.125rem;
  --ed-typography-letter-spacing-minus-2: -0.125rem;
  --ed-typography-letter-spacing-minus-1-half: -0.0938rem;
  --ed-typography-letter-spacing-minus-1: -0.0625rem;
  --ed-typography-letter-spacing-minus-half: -0.0313rem;
  --ed-typography-letter-spacing-half: 0.0313rem;
  --ed-typography-text-transform-none: none;
  --ed-typography-text-transform-uppercase: uppercase;
  --ed-typography-text-transform-lowercase: lowercase;
  --ed-theme-typography-display-xl-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-display-xl-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-display-xl-font-size: var(--ed-typography-font-size-176);
  --ed-theme-typography-display-xl-line-height: 1.15;
  --ed-theme-typography-display-xl-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-display-xl-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-display-xl-tablet-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-display-xl-tablet-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-display-xl-tablet-font-size: var(--ed-typography-font-size-100);
  --ed-theme-typography-display-xl-tablet-line-height: 1.10;
  --ed-theme-typography-display-xl-tablet-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-display-xl-tablet-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-display-xl-mobile-font-family: var(--ed-theme-typography-display-default-font-family);
  --ed-theme-typography-display-xl-mobile-font-weight: var(--ed-theme-typography-display-default-font-weight);
  --ed-theme-typography-display-xl-mobile-font-size: var(--ed-typography-font-size-72);
  --ed-theme-typography-display-xl-mobile-line-height: 1.11;
  --ed-theme-typography-display-xl-mobile-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-display-xl-mobile-text-transform: var(--ed-theme-typography-display-default-text-transform);
  --ed-theme-typography-display-lg-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-display-lg-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-display-lg-font-size: var(--ed-typography-font-size-100);
  --ed-theme-typography-display-lg-line-height: 1.10;
  --ed-theme-typography-display-lg-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-display-lg-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-display-lg-mobile-font-family: var(--ed-theme-typography-display-default-font-family);
  --ed-theme-typography-display-lg-mobile-font-weight: var(--ed-theme-typography-display-default-font-weight);
  --ed-theme-typography-display-lg-mobile-font-size: var(--ed-typography-font-size-64);
  --ed-theme-typography-display-lg-mobile-line-height: 1.13;
  --ed-theme-typography-display-lg-mobile-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-display-lg-mobile-text-transform: var(--ed-theme-typography-display-default-text-transform);
  --ed-theme-typography-display-default-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-display-default-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-display-default-font-size: var(--ed-typography-font-size-72);
  --ed-theme-typography-display-default-line-height: 1.11;
  --ed-theme-typography-display-default-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-display-default-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-display-default-mobile-font-family: var(--ed-theme-typography-display-default-font-family);
  --ed-theme-typography-display-default-mobile-font-weight: var(--ed-theme-typography-display-default-font-weight);
  --ed-theme-typography-display-default-mobile-font-size: var(--ed-typography-font-size-56);
  --ed-theme-typography-display-default-mobile-line-height: 1.14;
  --ed-theme-typography-display-default-mobile-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-display-default-mobile-text-transform: var(--ed-theme-typography-display-default-text-transform);
  --ed-theme-typography-headline-lg-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-headline-lg-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-headline-lg-font-size: var(--ed-typography-font-size-64);
  --ed-theme-typography-headline-lg-line-height: 1.13;
  --ed-theme-typography-headline-lg-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-headline-lg-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-headline-lg-mobile-font-family: var(--ed-theme-typography-headline-lg-font-family);
  --ed-theme-typography-headline-lg-mobile-font-weight: var(--ed-theme-typography-headline-lg-font-weight);
  --ed-theme-typography-headline-lg-mobile-font-size: var(--ed-typography-font-size-40);
  --ed-theme-typography-headline-lg-mobile-line-height: 1.20;
  --ed-theme-typography-headline-lg-mobile-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-headline-lg-mobile-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-headline-default-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-headline-default-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-headline-default-font-size: var(--ed-typography-font-size-48);
  --ed-theme-typography-headline-default-line-height: 1.17;
  --ed-theme-typography-headline-default-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-headline-default-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-headline-default-mobile-font-family: var(--ed-theme-typography-headline-default-font-family);
  --ed-theme-typography-headline-default-mobile-font-weight: var(--ed-theme-typography-headline-default-font-weight);
  --ed-theme-typography-headline-default-mobile-font-size: var(--ed-typography-font-size-40);
  --ed-theme-typography-headline-default-mobile-line-height: 1.00;
  --ed-theme-typography-headline-default-mobile-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-headline-default-mobile-text-transform: var(--ed-theme-typography-headline-default-text-transform);
  --ed-theme-typography-headline-sm-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-headline-sm-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-headline-sm-font-size: var(--ed-typography-font-size-40);
  --ed-theme-typography-headline-sm-line-height: 1.20;
  --ed-theme-typography-headline-sm-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-headline-sm-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-headline-sm-mobile-font-family: var(--ed-theme-typography-headline-sm-font-family);
  --ed-theme-typography-headline-sm-mobile-font-weight: var(--ed-theme-typography-headline-sm-font-weight);
  --ed-theme-typography-headline-sm-mobile-font-size: var(--ed-typography-font-size-32);
  --ed-theme-typography-headline-sm-mobile-line-height: 1.13;
  --ed-theme-typography-headline-sm-mobile-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-headline-sm-mobile-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-title-lg-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-title-lg-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-title-lg-font-size: var(--ed-typography-font-size-32);
  --ed-theme-typography-title-lg-line-height: 1.25;
  --ed-theme-typography-title-lg-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-title-lg-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-title-lg-mobile-font-family: var(--ed-theme-typography-title-lg-font-family);
  --ed-theme-typography-title-lg-mobile-font-weight: var(--ed-theme-typography-title-lg-font-weight);
  --ed-theme-typography-title-lg-mobile-font-size: var(--ed-typography-font-size-28);
  --ed-theme-typography-title-lg-mobile-line-height: 1.29;
  --ed-theme-typography-title-lg-mobile-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-title-lg-mobile-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-title-default-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-title-default-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-title-default-font-size: var(--ed-typography-font-size-28);
  --ed-theme-typography-title-default-line-height: 1.29;
  --ed-theme-typography-title-default-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-title-default-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-title-sm-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-title-sm-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-title-sm-font-size: var(--ed-typography-font-size-24);
  --ed-theme-typography-title-sm-line-height: 1.33;
  --ed-theme-typography-title-sm-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-title-sm-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-label-lg-font-family: var(--ed-typography-font-family-montserrat);
  --ed-theme-typography-label-lg-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-label-lg-font-size: var(--ed-typography-font-size-20);
  --ed-theme-typography-label-lg-line-height: 1.40;
  --ed-theme-typography-label-lg-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-label-lg-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-label-default-font-family: var(--ed-typography-font-family-montserrat);
  --ed-theme-typography-label-default-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-label-default-font-size: var(--ed-typography-font-size-16);
  --ed-theme-typography-label-default-line-height: 1.50;
  --ed-theme-typography-label-default-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-label-default-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-label-sm-font-family: var(--ed-typography-font-family-montserrat);
  --ed-theme-typography-label-sm-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-label-sm-font-size: var(--ed-typography-font-size-14);
  --ed-theme-typography-label-sm-line-height: 1.43;
  --ed-theme-typography-label-sm-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-label-sm-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-body-lg-font-family: var(--ed-typography-font-family-montserrat);
  --ed-theme-typography-body-lg-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-body-lg-font-size: var(--ed-typography-font-size-20);
  --ed-theme-typography-body-lg-line-height: 1.40;
  --ed-theme-typography-body-lg-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-body-lg-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-body-default-font-family: var(--ed-typography-font-family-montserrat);
  --ed-theme-typography-body-default-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-body-default-font-size: var(--ed-typography-font-size-16);
  --ed-theme-typography-body-default-line-height: 1.50;
  --ed-theme-typography-body-default-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-body-default-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-body-sm-font-family: var(--ed-typography-font-family-montserrat);
  --ed-theme-typography-body-sm-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-body-sm-font-size: var(--ed-typography-font-size-14);
  --ed-theme-typography-body-sm-line-height: 1.43;
  --ed-theme-typography-body-sm-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-body-sm-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-meta-default-font-family: var(--ed-typography-font-family-montserrat);
  --ed-theme-typography-meta-default-font-weight: var(--ed-typography-font-weight-700);
  --ed-theme-typography-meta-default-font-size: var(--ed-typography-font-size-14);
  --ed-theme-typography-meta-default-line-height: 1.43;
  --ed-theme-typography-meta-default-letter-spacing: var(--ed-typography-letter-spacing-2);
  --ed-theme-typography-meta-default-text-transform: var(--ed-typography-text-transform-uppercase);
  --ed-theme-typography-meta-sm-font-family: var(--ed-typography-font-family-montserrat);
  --ed-theme-typography-meta-sm-font-weight: var(--ed-typography-font-weight-700);
  --ed-theme-typography-meta-sm-font-size: var(--ed-typography-font-size-12);
  --ed-theme-typography-meta-sm-line-height: 1.33;
  --ed-theme-typography-meta-sm-letter-spacing: var(--ed-typography-letter-spacing-2);
  --ed-theme-typography-meta-sm-text-transform: var(--ed-typography-text-transform-uppercase);
  --ed-theme-typography-button-lg-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-button-lg-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-button-lg-font-size: var(--ed-typography-font-size-20);
  --ed-theme-typography-button-lg-line-height: 1.40;
  --ed-theme-typography-button-lg-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-button-lg-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-button-default-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-button-default-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-button-default-font-size: var(--ed-typography-font-size-24);
  --ed-theme-typography-button-default-line-height: 1.00;
  --ed-theme-typography-button-default-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-button-default-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-button-sm-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-button-sm-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-button-sm-font-size: var(--ed-typography-font-size-14);
  --ed-theme-typography-button-sm-line-height: 1.43;
  --ed-theme-typography-button-sm-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-button-sm-text-transform: var(--ed-typography-text-transform-lowercase);
  --ed-theme-typography-primary-nav-default-font-family: var(--ed-typography-font-family-league-gothic);
  --ed-theme-typography-primary-nav-default-font-weight: var(--ed-typography-font-weight-400);
  --ed-theme-typography-primary-nav-default-font-size: var(--ed-typography-font-size-32);
  --ed-theme-typography-primary-nav-default-line-height: 1.25;
  --ed-theme-typography-primary-nav-default-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-primary-nav-default-text-transform: var(--ed-typography-text-transform-none);
  --ed-theme-typography-primary-nav-default-mobile-font-family: var(--ed-theme-typography-title-lg-font-family);
  --ed-theme-typography-primary-nav-default-mobile-font-weight: var(--ed-theme-typography-title-lg-font-weight);
  --ed-theme-typography-primary-nav-default-mobile-font-size: var(--ed-typography-font-size-28);
  --ed-theme-typography-primary-nav-default-mobile-line-height: 1.29;
  --ed-theme-typography-primary-nav-default-mobile-letter-spacing: var(--ed-typography-letter-spacing-0);
  --ed-theme-typography-primary-nav-default-mobile-text-transform: var(--ed-typography-text-transform-none);
  --ed-animation-duration-15: 0.15s;
  --ed-animation-duration-40: 0.4s;
  --ed-animation-easing-default: ease;
  --ed-theme-animation-fade-quick: var(--ed-animation-duration-15);
  --ed-theme-animation-fade-long: var(--ed-animation-duration-40);
  --ed-theme-animation-move-quick: var(--ed-animation-duration-15);
  --ed-theme-animation-move-long: var(--ed-animation-duration-40);
  --ed-theme-animation-ease: var(--ed-animation-easing-default);
  --ed-border-radius-0: 0rem;
  --ed-border-radius-2: 0.125rem;
  --ed-border-radius-4: 0.25rem;
  --ed-border-radius-8: 0.5rem;
  --ed-border-radius-16: 1rem;
  --ed-border-radius-32: 2rem;
  --ed-border-radius-full: 62.4375rem;
  --ed-theme-border-radius-none: var(--ed-border-radius-0);
  --ed-theme-border-radius-sm: var(--ed-border-radius-0);
  --ed-theme-border-radius-md: var(--ed-border-radius-0);
  --ed-theme-border-radius-lg: var(--ed-border-radius-0);
  --ed-theme-border-radius-round: var(--ed-border-radius-full);
  --ed-border-width-1: 0.0625rem;
  --ed-border-width-2: 0.125rem;
  --ed-border-width-4: 0.25rem;
  --ed-border-width-8: 0.5rem;
  --ed-theme-border-width-sm: var(--ed-border-width-1);
  --ed-theme-border-width-md: var(--ed-border-width-2);
  --ed-theme-border-width-lg: var(--ed-border-width-4);
  --ed-theme-border-width-xl: var(--ed-border-width-8);
  --ed-shadow-sm-x: 0rem;
  --ed-shadow-sm-y: 0.25rem;
  --ed-shadow-sm-blur: 0rem;
  --ed-shadow-sm-spread: -0.125rem;
  --ed-shadow-md-x: 0rem;
  --ed-shadow-md-y: 0.5rem;
  --ed-shadow-md-blur: 0rem;
  --ed-shadow-md-spread: -0.25rem;
  --ed-shadow-bold-layer-1-x: 0rem;
  --ed-shadow-bold-layer-1-y: 0.5rem;
  --ed-shadow-bold-layer-1-blur: 0rem;
  --ed-shadow-bold-layer-1-spread: -0.25rem;
  --ed-shadow-bold-layer-2-x: 0rem;
  --ed-shadow-bold-layer-2-y: 1rem;
  --ed-shadow-bold-layer-2-blur: 0rem;
  --ed-shadow-bold-layer-2-spread: -0.5rem;
  --ed-shadow-bold-layer-3-x: 0rem;
  --ed-shadow-bold-layer-3-y: 1.5rem;
  --ed-shadow-bold-layer-3-blur: 0rem;
  --ed-shadow-bold-layer-3-spread: -0.75rem;
  --ed-theme-box-shadow-sm: 0rem 0.25rem 0rem -0.125rem var(--ed-theme-color-background-subtle);
  --ed-theme-box-shadow-md: 0rem 0.5rem 0rem -0.25rem var(--ed-theme-color-background-subtle);
  --ed-theme-box-shadow-bold: 0rem 0.5rem 0rem -0.25rem var(--ed-theme-color-background-accent-1), 0rem 1rem 0rem -0.5rem var(--ed-theme-color-background-accent-2), 0rem 1.5rem 0rem -0.75rem var(--ed-theme-color-background-subtle);
  --ed-theme-button-color-background-default: var(--ed-color-brand-orange-700);
  --ed-theme-button-color-background-hover: var(--ed-color-brand-orange-600);
  --ed-theme-button-color-background-active: var(--ed-color-brand-orange-600);
  --ed-theme-button-color-background-disabled: var(--ed-color-neutral-300);
  --ed-theme-button-color-content-default: var(--ed-color-brand-cream-100);
  --ed-theme-button-color-content-hover: var(--ed-color-brand-cream-100);
  --ed-theme-button-color-content-active: var(--ed-color-brand-cream-100);
  --ed-theme-button-color-content-disabled: var(--ed-color-neutral-white);
  --ed-theme-button-color-border-default: var(--ed-color-brand-orange-700);
  --ed-theme-button-color-border-hover: var(--ed-color-brand-orange-600);
  --ed-theme-button-color-border-active: var(--ed-color-brand-orange-600);
  --ed-theme-button-color-border-disabled: var(--ed-color-neutral-300);
  --ed-theme-button-primary-color-background-default: var(--ed-color-brand-orange-700);
  --ed-theme-button-primary-color-background-hover: var(--ed-color-brand-orange-600);
  --ed-theme-button-primary-color-background-active: var(--ed-color-brand-orange-600);
  --ed-theme-button-primary-color-background-disabled: var(--ed-color-neutral-300);
  --ed-theme-button-primary-color-content-default: var(--ed-color-brand-cream-100);
  --ed-theme-button-primary-color-content-hover: var(--ed-color-brand-cream-100);
  --ed-theme-button-primary-color-content-active: var(--ed-color-brand-cream-100);
  --ed-theme-button-primary-color-content-disabled: var(--ed-color-neutral-white);
  --ed-theme-button-primary-color-border-default: var(--ed-color-brand-orange-700);
  --ed-theme-button-primary-color-border-hover: var(--ed-color-brand-orange-600);
  --ed-theme-button-primary-color-border-active: var(--ed-color-brand-orange-600);
  --ed-theme-button-primary-color-border-disabled: var(--ed-color-neutral-300);
  --ed-theme-button-bare-color-content-default: var(--ed-color-brand-brown-900);
  --ed-theme-button-bare-color-content-hover: var(--ed-color-brand-brown-900);
  --ed-theme-button-bare-color-content-active: var(--ed-color-brand-brown-900);
  --ed-theme-button-bare-color-content-disabled: var(--ed-color-neutral-700);
  --ed-theme-focus-ring-color-border-default: var(--ed-color-neutral-black);
  --ed-theme-focus-ring-color-border-knockout: var(--ed-color-brand-cream-100);
  --ed-theme-form-color-background-default: var(--ed-color-neutral-900);
  --ed-theme-form-color-background-focus: var(--ed-color-neutral-900);
  --ed-theme-form-color-background-hover: var(--ed-color-neutral-900);
  --ed-theme-form-color-background-active: var(--ed-color-neutral-900);
  --ed-theme-form-color-border-default: var(--ed-color-brand-mustard-600);
  --ed-theme-form-color-border-focus: var(--ed-color-brand-mustard-600);
  --ed-theme-form-color-border-hover: var(--ed-color-brand-mustard-600);
  --ed-theme-form-color-border-active: var(--ed-color-brand-mustard-600);
  --ed-theme-form-color-content-default: var(--ed-color-brand-cream-100);
  --ed-theme-form-color-content-focus: var(--ed-color-brand-cream-100);
  --ed-theme-form-color-content-hover: var(--ed-color-brand-cream-100);
  --ed-theme-form-color-content-active: var(--ed-color-brand-cream-100);
  --ed-theme-form-color-content-subtle: var(--ed-color-brand-cream-600);
  --ed-theme-link-color-content-default: var(--ed-color-brand-orange-800);
  --ed-theme-link-color-content-hover: var(--ed-color-brand-orange-900);
  --ed-theme-link-color-content-active: var(--ed-color-brand-orange-800);
  --ed-theme-link-color-content-visited: var(--ed-color-brand-orange-800);
  --ed-theme-link-color-content-knockout: var(--ed-color-brand-orange-600);
  --ed-theme-link-color-content-knockout-hover: var(--ed-color-brand-orange-600);
  --ed-theme-link-color-content-knockout-active: var(--ed-color-brand-orange-600);
  --ed-theme-link-color-content-knockout-visited: var(--ed-color-brand-orange-600);
}