/*------------------------------------*\
    $HEADER
\*------------------------------------*/

header {
	text-align: center;
	padding: 2em 1em;
	max-width: 26em;
	margin: 0 auto;

	@media all and (min-height: 30em) {
		padding: 6em 1em;
	}
}