/*------------------------------------*\
    $NOTE
\*------------------------------------*/

.note {
	font-style: italic;
	color: $tan-dark;
	font-size: $font-size-sm;
	line-height: 1.5;
	margin-bottom: 1.2em;
	
	a {
		color: $tan-dark;
		
		&:hover, &:focus {
			color: $orange;
		}
	}
}
