<div class="banner">
	<div class="banner-content">
		<h3><a href="/" rel="home">Atomic Design</a> by <a href="http://bradfrost.com" rel="me">Brad Frost</a></h3>
		<a href="https://atomicdesigncourse.com" class="btn banner-cta" rel="external noopener" target="_blank">
			<span class="banner-cta__label">Get Atomic Design Certified</span>
			<span class="banner-cta__details">
				<span>Self-paced video course</span>
				<span>10+ hours of video</span>
				<span>Sample DS architecture</span>
				<span>Design systems community</span>
			</span>
		</a>
		<p><a href="http://shop.bradfrost.com/products/atomic-design-ebook" class="banner-ebook" rel="external noopener" target="_blank">Buy the ebook</a></p>
	</div>
</div>
