<div class="banner">
	<div class="banner-content">
		<h3><a href="/" rel="home">Atomic Design</a> by <a href="https://bradfrost.com" rel="me noopener" target="_blank">Brad Frost</a></h3>
		<a href="https://atomicdesigncourse.com" class="btn banner-cta" rel="external noopener" target="_blank">
			<span class="banner-cta__label">Get Atomic Design Certified</span>
			<span class="banner-cta__details">
				<span>Self-paced video course</span>
				<span>Hands-on exercises</span>
				<span>Slack community</span>
				<span>Certificate of completion</span>
			</span>
		</a>
		<p><a href="http://shop.bradfrost.com/products/atomic-design-ebook" class="banner-ebook" rel="external noopener" target="_blank">Get the ebook</a></p>
	</div>
</div>
