<div class="note">
	<p>Greetings! <a href="https://twitter.com/fullcreammilk">Owen Gregory</a> has <a href="http://rewrites.atomicdesign.bradfrost.com/">proposed edits</a> to the <a href="http://atomicdesign.bradfrost.com/chapter-1/">original text</a>, and this is where I'm addressing those edits. Most of the changes have been implemented without comment, but I've provided some comments for areas that required an explanation. You can read my comments below and check out the changes on <a href="https://github.com/bradfrost/atomic-design/tree/edits">GitHub</a>.</p>
</div>
