<div class="note">
	<p>Greetings, reader! The following text is <a href="http://bradfrost.com/blog/post/atomic-design-book/">not final</a>, but it's close! <a href="https://twitter.com/fullcreammilk">Owen Gregory</a> has <a href="http://rewrites.atomicdesign.bradfrost.com/">proposed edits</a> to the <a href="http://v1.atomicdesign.bradfrost.com/chapter-1/">original text</a>, which have been reflected here. If you see something worth fixing, please <a href="https://github.com/bradfrost/atomic-design">submit an issue on GitHub</a>. Thanks and happy reading!</p>
</div>
