/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn {
	font-weight: bold;
	background: $orange;
	color: $tan;
	border-radius: 5px;
	display: inline-block;
	padding: 0.65em 1.2em;
	margin-bottom: 0.5em;
	text-decoration: none;
	text-transform: lowercase;

	&:hover, &:focus {
		color: $white;
	}
}

.btn-alt {
	border-color: $tan;
	color: $tan;
}

.btn-group {
	.btn {
		margin-right: 0.5em;
	}
}