/*------------------------------------*\
    $TITLE SCREEN STYLES
\*------------------------------------*/

.title {
	max-width: 65em;
	margin: 0 auto;
	padding: 1em;

	img {
		display: block;
		max-height: 100%;
		margin-bottom: 2em;

		@media all and (min-width: 44em) {
			margin: 0;
			max-width: 50%;
		}
	}

	h1 {
		text-align: left;
	}

	@media all and (min-width: 44em) {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-align: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}

.title-col-2 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;

	@media all and (min-width: 44em) {
		padding-left: 2em;
	}
}

.title-content {
	align-self: center;
	text-align: center;
	max-width: 65em;

	img {
		margin-bottom: 2em;
	}

	h1 {
		line-height: 1;
	}

	p {
		color: $tan-dark;
		margin-bottom: 2em;

		a {
			color: $tan-dark;
		}
	}
}