*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}

html {
	height: 100%;
}

body {
	background: $tan;
	font-family: $font-primary;
	line-height: 1.5;
	color: $brown;
	padding: 0;
	margin: 0;
	min-height: 100%;
	border: 20px solid $brown;
}

p {
	margin: 0 0 1em;
}

a {
	color: #100;
}

h1 {
	font-size: 2.5em;
	line-height: 1.2;
	margin-top: 0;

	cite {
		font-style: normal;
	}
}

img {
	max-width: 100%;
	height: auto;
}
