//Header
header {
	text-align: center;
	padding: 2em 1em;
	max-width: 26em;
	margin: 0 auto;

	@media all and (min-height: 30em) {
		padding: 6em 1em;
	}
}

//Main content
main {
	max-width: $max-width;
	padding: 0 1em;
	margin: 0 auto 2em;
}

//Footer
footer {
	text-align: center;
	color: $tan-dark;
	font-size: 80%;
	padding: 1em;
	margin-bottom: 8em;
}

// Banner area
.banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $brown;
	color: $tan;
	z-index: 2;
	font-weight: bold;
}

.banner-content {
	max-width: $max-width;
	background: $brown;
	margin: 0 auto;
	padding: 0.6em 1em;
	position: relative;
	z-index: 2;
	text-align: center;

	a {
		color: $tan;
		text-decoration: none;
		transition: color $speed-fast ease-out;

		&:hover, &:focus {
			color: $orange;
		}
	}

	h3 {
		font-size: 1em;
		margin: 0;
		display: inline;
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}

	p {
		margin: 0;
		display: inline;
		-webkit-order: 3;
		-ms-flex-order: 3;
		order: 3;

		@media all and (min-width: 30em) {
			position: absolute;
			right: 1em;
		}
	}

	.btn {
		background: $orange;
		display: block;
		line-height: 1;
		padding: 1.05em;
		margin-top: 0.5em;

		&:hover, &:focus {
			color: $white;
		}

		@media all and (min-width: 30em) {
			border: 0;
			border-radius: 8px 8px 0 0;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -5.375em;
			margin-bottom: 0;
			z-index: 1;
			transition: all $speed-fast ease-out;

			&:hover, &:focus {
				padding-bottom: 1.5em;
			}
		}
	}

	@media all and (min-width: 30em) {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		align-items: middle;
		text-transform: lowercase;
	}
}


// Title Screen
.title {
	max-width: 65em;
	margin: 0 auto;
	padding: 1em;

	img {
		display: block;
		max-height: 100%;
		margin-bottom: 2em;

		@media all and (min-width: 44em) {
			max-width: 50%;
		}
	}

	h1 {
		text-align: left;
	}

	@media all and (min-width: 44em) {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-align: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}

.title-col-2 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;

	@media all and (min-width: 44em) {
		padding-left: 2em;
	}
}

.title-content {
	align-self: center;
	text-align: center;
	max-width: 65em;

	img {
		margin-bottom: 2em;
	}

	h1 {
		line-height: 1;
	}

	p {
		color: $tan-dark;
		margin-bottom: 2em;

		a {
			color: $tan-dark;
		}
	}
}

//Buttons
.btn {
	font-weight: bold;
	background: $orange;
	color: $tan;
	border-radius: 5px;
	display: inline-block;
	padding: 0.65em 1.2em;
	margin-bottom: 0.5em;
	text-decoration: none;
	text-transform: lowercase;

	&:hover, &:focus {
		color: $white;
	}
}

.btn-alt {
	border-color: $tan;
	color: $tan;
}

.btn-group {
	.btn {
		margin-right: 0.5em;
	}
}

//Table of Contents
.toc-list {
	text-align: center;
	list-style: none;
	margin: 0 0 2em;
	padding: 0;

	li {
		border-bottom: 1px solid $tan-dark;
		padding: 1em 0;

		&:last-child {
			border: 0;
		}
	}

	a {
		text-decoration: none;
	}

	h3 {
		font-size: 1.4em;
		margin: 0;
	}

	p {
		color: $tan-dark;
		margin: 0;
		font-size: 85%;
	}
}

//Timeline
.timeline {
	padding-left: 2em;
	max-width: 32em;
	margin: 0 auto;
	
	ol {
		border-left: 3px solid $brown;
		padding: 0 0 3em;
		position: relative;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: column-reverse;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: -1.78em;
			width: 50px;
			height: 50px;
			background: url(../images/icon-atom.svg) no-repeat;
			background-size: 100% 100%;
			-webkit-animation: spin 10s linear infinite; 
			-moz-animation: spin 10s linear infinite;
			-o-animation: spin 10s linear infinite;
			animation: spin 10s linear infinite;
		}
	}

	li {
		padding-left: 1.2em;
		margin: 0 0 3em;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -0.95em;
			width: 25px;
			height: 25px;
			background: url(../images/icon-atom.svg) no-repeat;
			background-size: 100% 100%;
			-webkit-animation: spin 10s linear infinite; 
			-moz-animation: spin 10s linear infinite;
			-o-animation: spin 10s linear infinite;
			animation: spin 10s linear infinite;
		}
	}
	
	h3 {
		margin: 0;
	}

	a {
		border-bottom: 1px solid $orange;
		text-decoration: none;
		
		&:hover, &:focus {
			color: $orange;
		}
	}

	em {
		font-size: 80%;
		color: $tan-dark;
		display: block;
		font-style: normal;
	}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
