$white : #fff;
$tan : #f6f5de;
$tan-light : #fbfaee;
$tan-dark : #a29e5e;
$brown : #100;
$orange : #be6700;

$font-primary: 'Helvetica Neue', Helvetica, sans-serif;
$font-secondary: Georgia, serif;


$max-width : 37em;

$speed-fast : 0.12s;
