/*------------------------------------*\
    $SASS VARIABLES
\*------------------------------------*/

$white : #fff;
$tan : #f6f5de;
$tan-light : #fbfaee;
$tan-dark : #a29e5e;
$tan-dim : rgba(205,202,162,0.4);
$tan-dim-min : rgba(205,202,162,0.07);
$brown : #100;
$orange : #be6700;

$font-primary: 'Helvetica Neue', Helvetica, sans-serif;
$font-secondary: Georgia, serif;


$max-width : 37em;

$speed-fast : 0.12s;