<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="title-page">
    <div class="title">
        <div class="title-content">
            <img src="/images/atomic-design.svg" alt="" />
            <h1><cite>Atomic Design</cite> <del>is</del> <ins>will be</ins> a book by <a href="http://bradfrost.com" rel="me">Brad Frost</a>.</h1>
            <div class="btn-group">
                <a href="http://shop.bradfrost.com/products/atomic-design-ebook" class="btn">Buy the Book</a>
                <a href="/table-of-contents" class="btn">Read Now</a>
            </div>
        </div>
    </div>
  </body>
</html>
