---
layout: default
---

<div class="page-header">
    <div class="page-header-inner">
        <!-- <a href="/" rel="home" class="atomic-icon-links"><img src="/images/atomic-design.svg" alt="" /></a> -->

        {% if page.chapterTitle %}<h3 class="page-kicker">{{ page.chapterTitle }}</h3>{% endif %}
        <h1 class="page-title">{{ page.title }}</h1>
        {% if page.chapterSubtitle %}<p class="page-subtitle">{{ page.chapterSubtitle }}</p>{% endif %}
    </div>
</div>

<div class="text">
    {% if page.chapterTitle %}
    {% include note.html %}
    {% endif %}

    {{ content }}

    {% if page.chapterTitle %}
    {% include pagination.html %}
    {% endif %}
</div>
