---
layout: default
---
<h1>{{ page.title }}</h1>
<nav role="navigation" class="toc">
    <ol class="toc-list">
        <li>
            <a href="/chapter-1">
	            <span></span>
                <h3>1. Designing Systems</h3>
                <p>Create design systems, not pages</p>
            </a>
        </li>
        <li>
            <a href="/chapter-2">
                <h3>2. Atomic Design Methology</h3>
                <p>Atoms, Molecules, Organisms, Templates, and Pages</p>
            </a>
        </li>
        <li>
            <a href="/chapter-3">
                <h3>3. Tools of the Trade</h3>
                <p>Pattern Lab, style guides, and more</p>
            </a>
        </li>
        <li>
            <a href="/chapter-4">
                <h3>4. The Atomic Workflow</h3>
                <p>People, process, and making it all happen</p>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/conclusion">
                <h3>Conclusion</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/thanks">
                <h3>Thanks &amp; Acknowledgements</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/resources">
                <h3>Resources</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/outline">
                <h3>Outline</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/author">
                <h3>About the Author</h3>
            </a>
        </li>
    </ol>
</nav>

<div class="text">
{{ content }}
</div>
