---
layout: default
---

<div class="page-header">
    <div class="page-header-inner">
        {% if page.chapterTitle %}<h3 class="page-kicker">{{ page.chapterTitle }}</h3>{% endif %}
        <h1 class="page-title">{{ page.title }}</h1>
        {% if page.chapterSubtitle %}<p class="page-subtitle">{{ page.chapterSubtitle }}</p>{% endif %}
    </div>
</div>

<div class="text">

<nav role="navigation" class="toc">
    <ol class="toc-list">
        <li>
            <a href="/chapter-1">
	            <span>1.</span>
                <h3>Designing Systems</h3>
                <p>Create design systems, not pages</p>
            </a>
        </li>
        <li>
            <a href="/chapter-2">
                <span>2.</span>
                <h3> Atomic Design Methodology</h3>
                <p>Atoms, Molecules, Organisms, Templates, and Pages</p>
            </a>
        </li>
        <li>
            <a href="/chapter-3">
                <span>3.</span>
                <h3>Tools of the Trade</h3>
                <p>Pattern Lab and the qualities of effective style guides</p>
            </a>
        </li>
        <li>
            <a href="/chapter-4">
                <span>4.</span>
                <h3>The Atomic Workflow</h3>
                <p>People, process, and making design systems happen</p>
            </a>
        </li>
        <li>
            <a href="/chapter-5">
                <span>5.</span>
                <h3>Maintaining Design Systems</h3>
                <p>Making design systems stand the test of time</p>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/thanks">
                <h3>Thanks &amp; Acknowledgements</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/resources">
                <h3>Resources</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/outline">
                <h3>Outline</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/author">
                <h3>About the Author</h3>
            </a>
        </li>
    </ol>
</nav>

{{ content }}

</div>
