/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1 {
	font-size: 2.5em;
	line-height: 1.2;
	margin: 0 0 0.67em;
	text-align: center;

	cite {
		font-style: normal;
	}
}